Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

Difference between SQL and NoSQL databases:

1. SQL is RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS) while NoSQL is Non-relational or distributed database system.
2. SQL databases have fixed or static or predefined schema while NoSQL have a dynamic schema.
3. SQL databases are not suited for hierarchical data storage while NoSQL databases are best suited for hierarchical data storage.
4. SQL databases are best suited for complex queries while NoSQL databases are not so good for complex queries
5. SQL is Vertically Scalable while NoSQL is Horizontally scalable
6. SQL follows ACID property while NoSQL follows CAP(consistency, availability, partition tolerance)

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, and aliases.

The create keyword is used to create tables, databases, views, procedures, indexes, functions, etc.
example: CREATE DATABASE database_name;

The Drop command in SQL not only deletes a table but also deletes other entities such as database, column, index, constraint, etc.
example: DROP TABLE table_name;

The ALTER command in SQL is used to make changes to a table, view, or the entire database. We can add, modify, and drop constraints, columns, and indexes using the ALTER command in SQL.
example: ALTER TABLE table_name ADD column_name datatype;

The truncate query is used to remove the record from the tables. In some situations, the truncate query cannot change data records.
example: TRUNCATE TABLE table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language (DML) commands in SQL manage data records stored within the database tables. It does not deal with changes to database objects and their structure. The commonly known DML commands are INSERT, UPDATE, and DELETE.

The INSERT statement will only accept the data that follows all the attributes of a column in a table.
example: INSERT INTO table_name (column1, column2, column3, ...) VALUES (value1, value2, value3, ...);

The UPDATE statement is used to modify the existing records in a table.
example: UPDATE table_name SET column1 = value1, column2 = value2, ... WHERE condition;

The DELETE command is used to delete existing records in a table.
example: DELETE FROM table_name WHERE condition;

Q4. What is DQL? Explain SELECT with an example.

The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages.

The SELECT statement is used to select data from a database. The data returned is stored in a result table, called the result-set. 
example: SELECT column1, column2, ... FROM table_name;

Q5. Explain Primary Key and Foreign Key.

A primary key is used to ensure data in the specific column is unique. A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

conn = mysql.connector.connect(
    host='localhost', user='root', password='password'
)
cursor = conn.cursor()

Cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

execute() Method: This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation.

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM and JOINs
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. DISTINCT
7. ORDER BY
8. LIMIT / OFFSET