In [2]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.loc[[1]]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

**loc** is a label-based indexing method that is used to access rows and columns by labels or boolean arrays. The syntax of the loc method is df.loc[row_labels, column_labels]. Here, row_labels and column_labels refer to the row and column labels, respectively. loc returns a DataFrame that matches the specified labels.

**iloc** on the other hand, is an integer-based indexing method that is used to access rows and columns by integer position. The syntax of the iloc method is df.iloc[row_positions, column_positions]. Here, row_positions and column_positions refer to the integer positions of the rows and columns, respectively. iloc returns a DataFrame that matches the specified integer positions.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [4]:
reindex = [3,0,1,2]
new_df=df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [5]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [7]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is a difference in the outputs of new_df.loc[2] and new_df.iloc[2].

**new_df.loc:** Since the index of new_df is now [3, 0, 1, 2], new_df.loc[] will print the row at the label 2 in the index.

**new_df.iloc:** new_df.iloc[2] returns the row that has the integer position 2 in the index.

In [1]:
#Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.085262  0.089772  0.484746  0.226528  0.967815  0.520922
2  0.781308  0.551974  0.692175  0.905914  0.268043  0.432331
3  0.210379  0.803835  0.580468  0.496147  0.190479  0.399590
4  0.784053  0.001888  0.245371  0.171462  0.284923  0.556847
5  0.028859  0.931181  0.629035  0.652007  0.432527  0.768623
6  0.437706  0.330692  0.909296  0.363963  0.558947  0.039356

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [9]:
df1.mean()

column_1    0.463678
column_2    0.515294
column_3    0.472420
column_4    0.536713
column_5    0.709189
column_6    0.602318
dtype: float64

In [11]:
df1['column_2'].std()

0.39735347874844124

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [15]:
df1['column_2'].loc[2]='two'
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.628793  0.016391  0.322759  0.976352  0.665065  0.311287
2  0.775795       two  0.835083  0.411484  0.787960  0.840170
3  0.764339  0.981567  0.418097  0.041703  0.995293  0.695866
4  0.092043  0.117592  0.421002  0.332811  0.797842  0.807640
5  0.289802  0.902311  0.486759  0.820899  0.042048  0.300148
6  0.231295  0.621352  0.350818  0.637030  0.966923  0.658799

In [16]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

**Tne error is generated because one of the elements in the column is non-numeric (string), and while finding the mean the program is trying to add that string numeric value of the column, which is not possible**

Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In pandas, a window function is a way to apply a calculation to a specific subset of data, called a "window," that moves through the dataset. This allows for calculations to be made on a rolling or expanding basis, depending on the type of window function used.

The types of window functions available in pandas can be broadly classified into the following categories:

1. **Rolling functions:** These functions compute a rolling statistic over a defined window size. Examples include rolling mean, rolling sum, rolling standard deviation, etc.

2. **Expanding functions:** These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include expanding sum, expanding mean, etc.

3. **Exponentially weighted functions:** These functions compute a rolling statistic with weights that decay exponentially as the distance from the current point increases. Examples include exponentially weighted mean, exponentially weighted standard deviation, etc.

4. **Cumulative functions:** These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include cumsum, cummax, cummin, etc.

5. **Aggregating functions:** These functions perform a groupby-style operation on a rolling or expanding window. Examples include groupby.mean(), groupby.sum(), etc.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [36]:
import datetime
df = pd.Timestamp(datetime.date.today())
year_month=df.strftime('%Y-%m')
year_month

'2023-09'

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [41]:
import pandas as pd
date=['2023-01-01','2023-04-06']
df=pd.DataFrame(data={'Date': date})
df

         Date
0  2023-01-01
1  2023-04-06

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
filepath = input('Enter the filepath: ')
column = input('Enter the column name: ')
order = input('Enter category order: ')
df = pd.read_csv(filepath)
df[column].astype('category')
if order=='ascending':
    df=df.sort_values(by = column, ascending= True)
elif order=='descending':
    df=df.sort_values(by = column, ascending= False)
df
#entered filepath: https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
#entered column: Pclass
#entered order: ascending

Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [3]:
filepath = input('Enter filepath: ')

df = pd.read_csv(filepath)
df['Date'] = pd.to_datetime(df['Date'])
grouped = df.groupby(['Product', 'Date']).sum()
pivot = grouped.unstack(level=0)
pivot.plot(kind='bar', stacked=True)

#entered filepath: Product_sales.csv

Enter filepath:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/Product_sales.csv

HTTPError: HTTP Error 404: Not Found

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

The program should do the following:
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
filepath = input('Enter Filepath: ')

df = pd.read_csv(filepath)

mean = df['Test_Score'].mean()
median = df['Test_Score'].median()
mode = df['Test_Score'].mode()

print("+----------+----------+")
print("Statistic | Value")
print(f"Mean:    {mean}")
print(f"Median:    {median}")
print(f"Mode:    {mode}")
print("+----------+----------+")

#entered fiepath: students_data.csv